/*
* {
    box-sizing: border-box;
    position:relative;
    min-width: 0;
}

body {
    min-height: 100dvh;
}
h1, h2, h3, h4 {
    text-wrap: balance;
}
p {
    text-wrap: pretty;
}
*/
@font-face {
    font-family: 'Press Start 2P';
    src: url('source/PressStart2P-Regular.ttf') format('truetype');
  }
  
body, html {
    margin: auto 0;
    padding: 0;
    height: 100vh;
    background-color: black;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:100vh;
    width:100vw;
    box-sizing: border-box;
    padding: 1%;
}

#header {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

#control-panel {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    height:100%;
    width:100%;
}

#title {
    background-color: black;
    width:100%;
    color:white;
}

#title img {
    width:100%;
}

#announcements {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;

    background-color: rgb(28, 28, 180);
    height:100%;
    width:100%;
    color:white;
    font-family: 'Press Start 2P';

    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}

#fire-button {
    height:20%;
    width:50%;
    background-color: aquamarine;
}
#deploy-forces {
    width:50%;
}
#deploy-forces img{
    width:100%;
}
#defend-forces {
    width:50%;
}
#defend-forces img {
    width:100%;
}

#fire-button img {
    width:100%;
}

main {
    
    height:100%;
    width: 100%;
    display: grid;
    flex-direction: column;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap:8px;
    box-sizing: border-box;
    background-color: transparent;
}

footer {
    background-color: bisque;
    height:20%;
    width:80%;
}

#user-grid, #computer-grid {
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1px;
    border: solid black 1px;
}

#boards {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;

    display: flex;
    flex-direction: row;
}
#user-grid {
    width:50%;
    height:100%;
    background-image: url("https://cdn.midjourney.com/b4837d5d-be3b-42c6-94f2-ff851884387c/0_3.webp");
    background-repeat: repeat-y;
    background-size: cover;
}

#computer-grid {
    width:50%;
    height:100%;
    padding:0px;
    margin:0px;
    gap:1px;
    background-color: rgb(61,114,77);
    position: relative;
    
}

#computer-grid div {
    border:1px solid rgb(152,199,162);
}
/*
#computer-grid-background {
    z-index:-1;
    width:110%;
    height:110%;
    position:absolute;
    margin: auto 0;
    align-items: center;
    
}*/

.grid-bombs {
    width:100%;
}

#ship-catalogue {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;

    display: flex;
    align-items: center;
    margin: 0 auto;
    align-content: center;
    width:100%;
    height:100%;
}

#harbor {
    width:50%;
    background-color: #408393;
    height: 100%;
    color:white;
}

#defend-forces {
    color:white;
}

#graveYard {
    background-color: beige;
    width:50%;
    height:50%;
}

.minimal {
    border-radius: 8px;
}
/*
.cell1 {
    grid-area: 8 / 1/ 11 / 1;
    background-color: aliceblue;
}

.cell11 {
    grid-area: 2 / 2 / 1 / 2;
    background-color: aliceblue;
}

.cell2 {
    grid-area: 2 / 1/ 2 / 1;
    background-color: antiquewhite;
}

.cell3 {
    grid-area: 3 / 1 / 3 / 2;
    background-color:bisque;
}

.cell4 {
    grid-area: 4 / 1/ 4 / 1;
    background-color: aquamarine;
}
.cell5 {
    grid-area: 5 / 1/ 5 / 1;
    background-color: antiquewhite;
}
*/
