body, html {
    margin: auto 0;
    padding: 0;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:100vh;
    width:100vw;
    box-sizing: border-box;
    padding: 1%;
    background-color: white;
}

#side-menu {
    background-color: aqua;
    height:100%;
    width: 10%;
}

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    height:30%;
}

#title {
    background-color: blue;
    height:20%;
    width:100%;
    color:white;
}

#announcements {
    background-color: rgb(28, 28, 180);
    height:20%;
    width:60%;
    color:white;
}

#fire-button {
    height:20%;
    width:5%;
    background-color: aquamarine;
}

main {
    
    height:100%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: bisque;
    height:20%;
    width:80%;
}

#user-grid, #computer-grid {
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1px;
    border: solid black 1px;
}

#boards {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

}
#user-grid {
    width:340px;
    height:340px;
    background-color: yellow;
}

#computer-grid {
    width:240px;
    height:240px;
    background-color: yellowgreen;
}

#ship-catalogue {
    display: flex;
    align-items: center;
    margin: 0 auto;
    align-content: center;
    width:100%;
    height:15%;
}

#harbor {
    width:50%;
    background-color: azure;
    height: 100%;
}

#graveYard {
    background-color: beige;
    width:50%;
    height:100%;
}

.minimal {
    border-radius: 8px;
}

